<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zrd.springbootinit.mapper.EvidenceMapper">

    <resultMap id="BaseResultMap" type="com.zrd.springbootinit.model.entity.Evidence">
            <id property="evidenceId" column="evidenceId" jdbcType="BIGINT"/>
            <result property="reportId" column="reportId" jdbcType="BIGINT"/>
            <result property="evidenceContent" column="evidenceContent" jdbcType="VARCHAR"/>
            <result property="confidenceLevel" column="confidenceLevel" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        evidenceId,reportId,evidenceContent,
        confidenceLevel,createTime,updateTime,
        isDelete
    </sql>
</mapper>
